<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="start">
    <ion-fab-button>
      <div [ngSwitch]="this.controlLang">
        <img *ngSwitchCase="0" src="https://flagcdn.com/48x36/mx.png" srcset="https://flagcdn.com/96x72/mx.png 2x, https://flagcdn.com/144x108/mx.png 3x"
          width="48" height="36" alt="Mexico">
        <img *ngSwitchCase="1" src="https://flagcdn.com/48x36/us.png" srcset="https://flagcdn.com/96x72/us.png 2x, https://flagcdn.com/144x108/us.png 3x"
          width="48" height="36" alt="eeuu">
        <img *ngSwitchCase="2" src="https://flagcdn.com/48x36/br.png" srcset="https://flagcdn.com/96x72/br.png 2x, https://flagcdn.com/144x108/br.png 3x"
          width="48" height="36" alt="Brazil">
      </div>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="this.onChangeLang(0)">
        <img src="https://flagcdn.com/32x24/mx.png" srcset="https://flagcdn.com/64x48/mx.png 2x, https://flagcdn.com/96x72/mx.png 3x"
        width="32" height="24" alt="Mexico">
      </ion-fab-button>
      <ion-fab-button (click)="this.onChangeLang(1)">
        <img src="https://flagcdn.com/32x24/us.png" srcset="https://flagcdn.com/64x48/us.png 2x, https://flagcdn.com/96x72/us.png 3x"
        width="32" height="24" alt="eeuu">
      </ion-fab-button>
      <ion-fab-button (click)="this.onChangeLang(2)">
        <img src="https://flagcdn.com/32x24/br.png" srcset="https://flagcdn.com/64x48/br.png 2x, https://flagcdn.com/96x72/br.png 3x"
        width="32" height="24" alt="Brazil">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <div [ngSwitch]="this.controlTheme">
        <img *ngSwitchCase="0" src="../../assets/imagenes/color_badge.png" width="48" height="48" alt="colors">
        <img *ngSwitchCase="1" src="../../assets/imagenes/numeros/five.png" width="48" height="48" alt="numbers">
        <img *ngSwitchCase="2" src="../../assets/imagenes/animales/sheep.png" width="48" height="48" alt="animals">
      </div>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="onChangeTheme(0)">
        <img src="../../assets/imagenes/color_badge.png" width="32" height="32" alt="colors">
      </ion-fab-button>
      <ion-fab-button (click)="onChangeTheme(1)">
        <img src="../../assets/imagenes/numeros/five.png" width="32" height="32" alt="numbers">
      </ion-fab-button>
      <ion-fab-button (click)="onChangeTheme(2)">
        <img src="../../assets/imagenes/animales/sheep.png" width="32" height="32" alt="animals">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="this.cerrarSesion()">
      <img src="../../assets/imagenes/open_door.png" >
    </ion-fab-button>
  </ion-fab>

  <div class="menu">
   <div *ngIf="this.controlTheme == 0; then colors; else otros"></div>
    <ng-template #colors>
      <ion-button class="element" *ngFor="let elemento of this.buttonArray[this.controlTheme];" (click)="this.onBtnPrincipal(elemento.name)"
      [ngStyle]="{'--background': 'url(' + elemento.path + ') no-repeat center center / cover'}"></ion-button>
    </ng-template>
    <ng-template #otros>
      <ion-button color="secondary" class="element" *ngFor="let elemento of this.buttonArray[this.controlTheme];" (click)="this.onBtnPrincipal(elemento.name)">
        <img class="object" src="{{elemento.path}}">
      </ion-button>
    </ng-template>
  </div>
</ion-content>
