* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: var(--ion-color-success);
    --overflow: hidden;
}

ion-fab-button {
    --background:  var(--ion-color-medium);
    --background-activated: #87d361;
    --background-hover: #a3e681;
    --border-radius: 10px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: black;
}

ion-fab-list {
    margin-top: 60px;

    ion-fab-button {
        margin-bottom: 5px;
    }
}

@media (orientation: portrait)
{
    ion-button.element {
        display: block;
        height: 18%;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        margin-top: 0.6rem;

        --box-shadow: none;
    
        border: solid var(--ion-color-light);
        border-radius: 7px;
    }

    img.object {
        width: 50%;
        height: 100%; 
    }

    div.menu {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-top: 1rem;
        background-color: #ffffff00;
    }
}

@media (orientation: landscape)
{
    ion-button.element {
        height: 93.5%;
        width: 18%;
        margin-top: 0.8rem;
        margin-left: 0.6rem;
    
        --box-shadow: none;

        border: solid var(--ion-color-light);
        border-radius: 7px;
    }

    img.object {
        width: 100%;
        height: 50%; 
    }

    div.menu {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-left: 1rem;
        background-color: #ffffff00;
    }
}